apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: hello
  template:
    metadata:
      labels:
        app: hello
    spec:
      containers:
      - name: hello
        image: europe-southwest1-docker.pkg.dev/dis-proyecto-2/practica2/hello:v1
        ports:
        - containerPort: 8080
